@import "../../../../colors.scss";

.navi-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px 15px 30px;
  background-color: $dark-blue;
}
.header {
  color: $orange;
  font-size: 4.6rem;
  line-height: 54px;
  font-weight: 600;
  text-decoration: underline;
}
.language .btn {
  color: $white;
  font-size: 1.6rem;
  line-height: 24px;
  font-weight: 400;
  background: transparent;
  transition: 0.2;
}
.language:hover .btn {
  border: 0.5px solid $white;
}
