<div class="sidebar">
  <div class="sidebar-top">
    <div class="sidebar-logo">
      <div class="logo-img">
        <img src="../../../../assets/images/EtiyaLogo1_blue.png" />
      </div>
      <div class="logo-text">Dashboard</div>
    </div>
    <div class="user-cont">
      <div class="user-img">
        <img src="../../../../assets/images/user.jpg" />
      </div>
      <div class="user-desc">
        <strong>Name Surname</strong>
        <span>user.name@etiya.com</span>
      </div>
    </div>
    <div class="sidebar-button">
      <div class="sidebar-button-content">
        <div class="sidebar-dark-btn">
          <i class="fa-brands fa-buromobelexperte px-3"></i
          ><span>Dashboard</span>
        </div>
        <div class="sidebar-dark-btn active">
          <i class="fa-regular fa-user px-3"></i
          ><span>Business 2 Consumer</span>
        </div>
        <div class="sidebar-dark-btn">
          <i class="fa-regular fa-envelope px-3"></i
          ><span>Business 2 Business</span>
        </div>
        <hr />
        <div class="sidebar-dark-btn">
          <i class="fa-solid fa-ellipsis px-3"></i><span>Settings</span>
        </div>
      </div>
    </div>
  </div>
  <div class="sidebar-bottom">
    <div class="sidebar-bottom-content">
      <i class="fa-solid fa-right-from-bracket px-3"></i><span>Logout</span>
    </div>
  </div>
</div>
