@import "../../../../colors.scss";
.input-cont {
  position: relative;
  margin: 20px 0px;
}

label {
  position: absolute;
  top: -16px;
  left: 33px;
  background-color: $white;
  padding: 0 5px;
  font-size: 1.6rem;
  color: $light-gray;
}

input {
  width: 100%;
  border: 1px solid $dark-gray;
  border-radius: 49px;
  padding: 10px 0;
  padding-inline-start: 15px;
  font-size: 1.6rem;
}

input:focus-visible {
  outline: none;
}

span {
  color: $dark-red;
}

input.ng-invalid.ng-touched {
  border: 1px solid $dark-red;
}

.input-content {
  display: flex;
}

.input-group-addon {
  position: absolute;
  right: 20px;
  top: 15px;
  border: 1px solid $white;
  border-left: 0px;
}

.input-group-addon i {
  color: $dark-gray;
  font-size: 1.6rem;
}
