// color palette
$orange: #f48221;
$gray: #c4c4c4;
$blue: #334d6e;
$dark-blue: #242342;
$white: #ffffff;
$dark-gray: #828282;
$black: #333333;
$black2: #192a3e;
$dark-red: #d00000;
$sb-btn: #9197b3;

// $color1 : #ffffff;
// $color2 : #252440;
// $color3 : #8c522f;
// $corange : #f48221;
// $color5 : #24233f;
// $color6 : #f2f6fc;
// $color7 : #f5f8fe;
// $color8 : #f3f6fd;
// $color9 : #f1f4fb;
// $color10 : #f3f7fd;
// $color11 : #c4c4c4;
// $dark-blue: #323c47;
