<etiya-pop-up *ngIf="popupShow"></etiya-pop-up>
<div [class.wrapper]="popupShow">
  <div class="login-page">
    <div class="login-container">
      <div class="logo-temp">
        <div class="logo-img">
          <img src="../../../../assets/images/EtiyaLogo2_white.png" />
        </div>
        <div class="logo-text">{{ "academy" | translate }}</div>
      </div>
      <div class="login-cont">
        <div class="login-form-text">
          <div class="header">{{ "welcome" | translate }}!</div>
          <div class="desc">{{ "login_desc" | translate }}</div>
        </div>
        <form (submit)="onLogin()" [formGroup]="loginForm">
          <div class="login-form py-3">
            <etiya-input
              [inputLabel]="'user_name'"
              [inputType]="'text'"
              formControlName="userName"
            ></etiya-input>
            <etiya-input
              [inputLabel]="'password'"
              [inputType]="'password'"
              formControlName="password"
              [icon1]="'fa-solid fa-eye'"
              [icon2]="'fa-solid fa-eye-slash'"
            ></etiya-input>
            <div class="reset-btn">
              <a href="">{{ "reset_password" | translate }}</a>
            </div>
            <div class="login-btn">
              <etiya-button
                [buttonText]="'login'"
                [buttonType]="'submit'"
              ></etiya-button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
